numpy
tqdm
scikit-build
scikit-learn
scikit-image
#scikit-learn==0.22.2.post1
simpleitk
scipy
pydicom
opencv-python
timm
transformers==4.30.0
albumentations==0.4.3
imgaug
Pillow
pretrainedmodels

torch
torchvision
